.complaint-portal-main{
    background: rgb(12,11,75);
background: linear-gradient(90deg, rgba(12,11,75,1) 35%, rgba(49,160,73,1) 76%);
}
.complaint-portal-main> h1{
    color: white;
}
.complaint-portal{
    margin-top: 80px;
}
.choose-complaint{
    margin-top: 80px;
}