.complaint-portal-main{
    background: rgb(12,11,75);
background: linear-gradient(90deg, rgba(12,11,75,1) 35%, rgba(49,160,73,1) 76%);
margin-bottom: 50px;
}
.complaint-portal-main> h1{
    color: white;
}
.complaint-portal{
    margin-top: 80px;
}
.choose-complaint{
    margin-top: 80px;
}
@media (max-width: 768px) {
    .complaint-portal-main{
        display: block;
    }
    .complaint-portal-main h1{
        font-size: 2.6rem;
    }
    .form-fields{
        width: 100%;
        /* padding: 3% 10%; */
        
    }
}