.Home{

}
.Home-main{
height: 85vh;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0px 5vw;
}
.Home-main p{
font-size: 5rem;
font-weight: 700;
}
.Home-main span{
    color: #E8ED07E5;
}

.Home-main-img{
    height: 500px;
    width: 500px;
}
@media (max-width: 768px) {
    .Home-main p{
        display: none;
    }
    .Home-main-img{
        height:100vw;
        width:100%;
    }
}