.Footer{
margin-top: 100px;
}
.Footer-main{
    /* border-top-left-radius: 100px; */
    background: rgb(49,160,73);
    background: linear-gradient(90deg, rgba(12,11,75,1) 20%, rgba(49,160,73,1) 70%);
    padding: 150px 80px 50px 130px;
    display: flex;
    justify-content: space-between;
}
.Footer-info{
width: 30%;
}
.Footer-info img{
    width: 200px;
    margin-bottom: 30px;
}
.Footer-info p{
    text-align: justify;
    font-weight: 400;
    color: #FFF;
    font-size: 1rem;
}
.Footer-social-icon{
    padding: 5px;
}
.Footer-social-icon:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    height: 40px;
    background: #FFF;
}
.newsletter input {
    height: 100%;
    margin-right: 20px;
    height: 20px;
	background-repeat: repeat;
	background-color: #FFF;
	color: #222;
	border-width: 1px;
	border-style: solid;
	border-color: #AAA;
	border-radius: 4px;
	box-shadow: 0 0 8px -3px #888;
}

.newsletter input:hover {
	background-repeat: repeat;
	background-color: #FFF;
	color: #222;
	border-width: 1px;
	border-style: solid;
	border-color: #AAA;
	border-radius: 4px;
	box-shadow: 0 0 8px -3px #888;
}

.newsletter input:focus {
	background-repeat: repeat;
	background-color: #FFF;
	color: #222;
	border-width: 1px;
	border-style: solid;
	border-color: #AAA;
	border-radius: 4px;
	box-shadow: 0 0 8px -3px #888;
}
.newsletter button{
    background-color: #222;
    color: white;
    padding: 12px 20px;
    cursor: pointer;
   
}
.Footer-links{
    /* line-height: 20px; */
    font-weight: 600;
    color: #FFF;
    font-size: 1rem;
    /* cursor: pointer; */
}
.Footer-links> p:hover{
    cursor: pointer;
    text-decoration: underline;
}
.Footer-social{
    /* line-height: 20px; */
    color: #FFF;
    font-size: 1rem;
    width: 23%;
}
.social-style{
    text-decoration: none;
    color: #fff;
}
.Footer-office{
    /* line-height: 25px; */
    color: #FFF;
    font-size: 1rem;
    width: 19%;
}


.Footer-watermark{
    padding: 25px;
    background-color: #0C0B4B;
    color: white;
    text-align: center;
    font-weight: 600;
}
@media (max-width: 768px) {
   .Footer-main{
    flex-direction: column;
    padding: 10px;
    text-align: center;
    border-radius: 0px;
   }
   .Footer-info{
width: 100%;
   }
   .Footer-info p{
    text-align: center;
   }
   .Footer-office{
    margin-top: 15px;
    line-height: 20px;
    width: auto;
   }
   .Footer-links{
    margin-top: 15px;
   }
   .Footer-social{
    width: auto;
   }
   
}