@import url('https://fonts.cdnfonts.com/css/abhaya-libre');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Abhaya Libre';
 
}
*{
  margin: 0;
}
code {
  font-family: 'Abhaya Libre';
}