.whychooseus{
    text-align: center;
    margin: 50px 8vw;
}
.header-choose{
    text-align: center;
    margin-top: 50px;
}
.header-choose> h1{
    font-size: 3.5rem;
    color: #0C0B4B;
}
.header-choose>h1> span{
    color: #31A049;
}
.content-whychoose{
    display: flex;
    justify-content: space-between;
}
.content2{
    width: 30vw;
    margin: 80px 30vw;
    display: flex;
    justify-content: space-between;
}
.govt> h1{
    line-height: 30px;
    font-size: 25px;
    font-weight: 600;
}
.govt> img{
    width: 60px;
}
@media (max-width: 600px) and (max-width: 768px) {
    .header-choose h1{
        font-size: 2.5rem;
    }
    .content-whychoose{
        display: block;
    }
    .govt{
        margin-top: 25px;
    }
    .govt h1{
        font-size: 20px;
    }
    .content2{
        display: block;
        margin: 0px 0vw;
        width: 100%;
    }
    .whychooseus{
        margin: 30px 0vw;
    }
}
